@include media($media-desktop) {
    html, body {
        height: 100%;
    }

    .page-wrap {
        min-height: 100%;
        margin-bottom: $footer-height * -1;

        &:after {
            content: '';
            display: block;
            height: $footer-height;
        }
    }

    .site-footer {
        height: $footer-height;
    }
}


.container {
    @include outer-container;
    @include media($media-mobile) {
        margin: 0 30px;
    }
}